.text{
    text-align: center;
}
.update{

    margin-left: 1000px;
}
.price{
    color: rgb(243, 6, 6);
}
.btnedit{
    margin-right: 10px;
}

#product_list table{
    margin-left: auto;
    margin-right: auto;
}
#product_list table tr td {
    padding: 5px;
    vertical-align: top;

}
 
#product_list .list_image {
    width: 150px;
    height: 150px;
}
 
#product_list .list_description {
    width: 80%;
}
 
#product_list .list_description dl {
    margin: 0;
}
 
#product_list .list_description dt {
    color: rgb(12, 117, 12);
    font-weight: bold;
    font-size: larger;
}
 
#product_list .list_description dd {
    margin: 0;
}
 
#product_list .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
}
 
#product_list .list_line_even {
    background: #e0f8f8;
}
 
#product_list .list_line_odd {
   background: #f8b0f8;
}
 
#store .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;
}
 
#store .title {
    font-size: 120%;
    font-family: sans-serif;
}
 
#store .entry img {
    width: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
 
 
#store .entry h3 {
    margin-top: 0;
    margin-bottom: 2px;
    color: #227;
}
 
#store .entry p {
    margin-top: 0.5em; 
    margin-bottom: 0.8em; 
}
 
#store .entry .price_line {
    clear: both;
    margin-bottom: 0.5em;
}
 
#store .entry .add_to_cart {
    position: relative;
}
 
#store .entry .price {
    color: #44a;
    font-weight: bold;
    margin-right: 2em;
}

ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
.area{
    margin-top: 50px ;
    float: left;
}